<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-text-center">
        <ion-card-header>
          <ion-card-title>{{deviceId}}</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          <div padding>
              <span class="balance">{{balance}}i</span>
          </div>

          
        </ion-card-content>
      </ion-card>
      <ion-list>
          <ion-list-header>
              <ion-label>Masked Authenticated Messages</ion-label>
            </ion-list-header>
          <ion-item  *ngFor="let m of messages">

              <ion-card>
                  <img *ngIf="m.imageUrl" src="https://spsiota.s3.amazonaws.com/{{m.imageUrl}}"/>
                  <div class="card-title">{{m.message}}</div>
                  <div class="card-subtitle">{{m.timestamp|date:'short'}}</div>
                </ion-card>

                
          </ion-item>
      </ion-list>
</ion-content>
